<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    
    <div class="container">

        <div class="card" id="form-ask">
            <div class="card-header">
                <h3>Ask the question</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/askSave">
                    <label for="">Title</label>
                    <input type="text" name="title" placeholder="Title" class="form-control">
                    <br>
                    <label for="">Description</label>
                    <textarea name="description" id="" cols="30" rows="10" placeholder="Ask the question here!" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary"> Confirm </button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>

