<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    
        <div class="container">
        
        <div class="title-main">
            <div class="title-page">
                <h1>Questions</h1>
            </div>
            <div class="">
                <a class="lik-ask" href="ask"> <button class="btn-ask">Ask</button> </a>
            </div>
        </div>
        <hr>

        <% questions.forEach(question => { %>
        <br>
        <div class="card">
            <div class="card-body">
                <h3> <%= question.title %> </h3>
            </div>
            <div class="card-footer">
               <a href="/question/<%= question.id %>"><button class="btn btn-primary" > Answer </button> </a>
            </div>
        </div>
        <% }) %>



    </div>

</body>
</html>