<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <h1><%= question.title %></h1>
                <p> <%= question.description %> </p>
            </div>
        </div>
        
        <hr>

        <form action="">
            <h3 style="color: #FFFFFF;">To Answer</h3>
            <label for="" style="color: #FFFFFF;"> Answer </label>
            <textarea placeholder="Insert the Answer" name="body" class="form-control"></textarea> <br>
            <button type="submit" class="btn btn-light"> Answer </button>
        </form>
    </div>

</body>
</html>