body{
    background-color: #9b5de5;
    /* background-color: #ab87ff; */
}

#form-ask {
    margin-top: 5vh;
}

.button {
    display: flex;
    border: 1px solid red;
}

.title-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.link-ask{
    border: 1px solid red;
    /* padding: ; */
}
.btn-ask{
    padding: 20% 50% 20% 50%;
    border: none;
    padding-top: 3px;
    text-decoration: none;
    color: gray;
}

.btn-ask:hover{
    background-color: rgb(215, 113, 215);
    transition: 300ms;
}

i {
    color: #845EC2; 
}

.icon-action{
    margin-left: 15%;
}

.btn-delete{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

#question-group:hover{
    box-shadow: 6px 10px 0px rgba(0,0,0,0.2);
}



