body{
    background-color: #9b5de5;
    /* background-color: #ab87ff; */
}

#form-ask {
    margin-top: 5vh;
}

.button {
    display: flex;
}

.title-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#btn-ask{
    background-color:#FF4BA8;
    border: none;
    box-shadow: 2px 5px 8px #56494E;
}

#btn-ask:hover{
    color: #FF4BA8;
    background-color: #FFFFFF;
}

i {
    color: #845EC2; 
}

.icon-action{
    margin-left: 15%;
}

.btn-icon{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

#question-group{
    transition: 300ms;
}

#question-group:hover{
    box-shadow: 6px 10px 0px rgba(0,0,0,0.2);
}



